.dropdown-div{
  background-color: #212529 !important;
}

.dropdown-item-menu{
  color:#fff !important;
}
.dropdown-item-menu:hover{
  background-color: #212529 !important;
}
#secondary .widget{
    padding:15px;
    border: 1px solid #777;
    padding-bottom:8px;
}
#secondary .widget .widget-title{
   background-color: #35373e;
   padding:8px 15px;
   margin:-15px -15px 5px;
}
#secondary .widget .widget-title h3{
    color:#fff;
}

#blog-page .post .post-excerpt{
    font-size:15px;
    line-height:1.2;
}
#blog-page .post .post-meta{
    font-size:14px;
}
.blog-item .post + .post{
    padding-top:30px;
    border-top:1px dashed #999;
}

/*Contact page css*/
.contact-form-wrapper{
  padding:30px;
  border-radius:10px;
  box-shadow: 0 0 10px 10px rgba(90,90,90,0.2);
  margin-top:50px;
  margin-bottom:50px;
}
.contact-form-wrapper h3{
  margin-bottom:40px;
  font-weight:bold;
  text-align: center;
  color:#35373e;
  font-size:20px;
  text-transform:uppercase;
  letter-spacing: 2px;
}
.contact-form-wrapper label{
  font-weight:600;
}
.contact-form-wrapper .form-control{
  font-size:14px;
  min-height: 50px;
}
.contact-form-wrapper .btn3{
  margin-top:20px;
  min-height: 50px;
}
.contact-form-wrapper .btn3:hover{
  cursor:pointer;
}
.contact-detail-wrapper h3{
  font-weight:bold;
  color:#35373e;
  font-size:20px;
  text-transform:uppercase;
  letter-spacing: 1px;
}
.contact-detail-wrapper h2{
  font-weight:bold;
  color:#35373e;
  font-size:40px;
  margin-bottom:50px;
  text-align: center;
  text-transform:uppercase;
  letter-spacing: 3px;
  
}

/*nav menu*/

.dropdown-menu .dropdown-item{
    padding:15px !important;
}

/*Simple Page Template CSS*/

.page_content_section{
    margin-top:-80px;
}
.page_content_section .page-content-wrapper{
  padding:30px;
  background-color:#fff;
  border-radius: 4px;
  box-shadow:0 0 15px 0 rgba(90,90,90,0.3);
  margin-bottom: 30px;
}
#page_banner{
  padding-bottom: 150px;
}